
/*Correspond à la barre présente sur l'ensemble des pages, elle contient le logo et les boutons : Pageacceuil, Ville, se connecter, s'inscrire et aide*/

.baniere {
  background-image: url(../Image/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  min-height: 80px;
}

.baniere > ul {
  margin-top: 1rem;
  list-style-type: none;
  padding-top: 2rem;

}

.baniere > ul > li {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 0 10px;
  text-decoration: none;
  font-size: 13px;
  font-family: verdana;
  min-width: 140px;

}

.baniere > ul > li:nth-child(2) {
    margin-right: 40px;
}

.baniere li a {
    color: #C49A52;
    text-align: center;
}

/* Message alerte qd les champs de sont pas tous remplis ou pseudo déja utilisé */
.alert{
    text-align: center;
}

/*Correspond à la 1ère image avec texte sur la pageacceuil*/

header {
  margin-bottom: 10px;
}

main {
  margin-top: 20px;
}

.image_pageacceuil {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

.image_pageacceuil img {
    width: 80%;
    position: center;
}


/*Correspond au style de titres sur la pageacceuil (ex:Trouvez un restaurant)*/

.titre {
    font-size: 3em;
    text-align: center;
    font-family: cursive;
    color: #C49A52;
    margin-top: 20px;
}


/*Correspond à la prémière image avec texte sur la pageinscription*/

.image_pageinscription {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

.image_pageinscription img {
    margin-top: 10px;
    width: 55%;
    position: center;
}

.image_pagelieu {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

.image_pagelieu img {
    margin-top: 10px;
    width: 50%;
    position: center;
    margin-bottom: 20px;
}


/*Correspond à la prémière image avec texte sur la pageconnexion*/

.image_pageconnexion {
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
    font-family: cursive;
}

.image_pageconnexion img {
    margin-top: 10px;
    width: 100%;
    position: center;
}


/*Correspond au pied de page avec 3 items*/

.piedpage {
    text-align: center;
    margin-top: 70px;
}


/*Correspond à l'image des reseauxsociaux*/

.piedpage img {
    width: 40%;
    position: center;
}


/*Correspond aux lignes noir présente entre les items (pied de page)*/

.bordure {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Correspond aux lignes noir présente entre les items MonCompte*/

.bordure2 {
    border-bottom: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;

}

.bordure3 {
    border-bottom: 1px solid white;
    margin-top: 55px;
    margin-bottom: 54px;

}

/*Permet d'éliminer les marges lié à l'utilisation des col-md ou des colonne1 ou colonne2*/

.container1 {
    margin-right: 50px;
    margin-left: 50px;
}

.container2 {
    margin: auto;
    width: 50%;
}

.marginblock {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Correspond à la mise en place de 3 colonnes (ex:sur la pageacceuil barre de recherche d'un restaurant*/

.col-md-4 {
    margin-top: 20px;
    margin-bottom: 40px;
    background-position: center;
}

.col-md-4 h1 {
    margin-bottom: 10px;
    font-size: 2em;
    font-family: cursive;
    color: black;
    font-weight: bold;
    text-align: center;
}

.col-md-4 h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: left;
    font-family: cursive;
    color: black;
    font-weight: bold;
    text-align: left;
}

.col-md-4 h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: cursive;
    color: black;
    font-weight: bold;
    text-align: center;
}

.col-md-4 p {
    margin-bottom: 10px;
    font-size: 0.7em;
}


/*Correspond au style des titres présent sur la page inscriptions*/

.col-md-6 {
    margin-bottom: 30px;
}

.col-md-6 h1 {
    margin-bottom: 50px;
    font-size: 1.7em;
    text-align: left;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.col-md-7 {
    margin-left: 137px;
}

.col-md-7 h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2.5em;
    text-align: left;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
    text-decoration: underline;
}

.col-md-7 p {
    margin-bottom: 10px;
    font-size: 1em;
    text-align: left;
}

.col-md-11 {
    display: block;
    margin: auto;
    background-position: center;
    position: center;
    text-align: center;
    margin-left: 48px;
}

.col-md-11 h1 {
    margin-bottom: 30px;
    font-size: 1.7em;
    text-align: center;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.col-md-12 p {
    text-align: justify;
    font-size: 1em;
    line-height: 2;
}


/*Correspond à la colonne de gauche, le style du titre, la positon du texte*/

.colonne1 {
    margin-top: 20px;
    float: left;
    width: 47%;
    margin-left: 20px;
}

.colonne1 h1 {
    margin-bottom: 50px;
    font-size: 1.7em;
    text-align: left;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.colonne1 h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: left;
    font-family: cursive;
    color: black;
    font-weight: bold;
}

.colonne1 h3 {
    margin: 10px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: arial;
    color: black;
    font-weight: normal;
    line-height: 1.5;
}

.colonne1 p {
    margin: 10px;
    text-align: center;
}

.colonne1 p strong {
    font-size: 1.2em;
    text-align: center;
    font-family: cursive;
    color: black;
}


/*Correspond à la colonne de droite, le style du titre, la positon du texte*/

.colonne2 {
    margin-top: 20px;
    float: right;
    width: 610px;
    margin-right: 20px;
}

.colonne2 h1 {
    margin-bottom: 50px;
    font-size: 1.7em;
    text-align: left;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.colonne2 h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: left;
    font-family: cursive;
    color: black;
    font-weight: bold;
}

.colonne2 h3 {
    margin: 10px;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: arial;
    color: black;
    font-weight: normal;
    line-height: 2;
}

.colonne2 p {
    margin: 10px;
    text-align: center;
}

.colonne2 p strong {
    font-size: 1.2em;
    text-align: center;
    font-family: cursive;
    color: black;
}

.colonne3 {
    margin: 40px;
    float: left;
    height: 160px;
    width: 160px;
    background-repeat: no-repeat;
}

.colonne3 img {
    max-width: 160px;
    max-height: 160px;
}

.colonne4 {
    margin-top: 20px;
    float: center;
    margin-right: 20px;
}

.colonne4 h1 {
    margin-bottom: 40px;
    font-size: 3em;
    text-align: left;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.colonne5 {
    margin-top: 70px;
    float: left;
    background-repeat: no-repeat;
}

.colonne5 img {
    max-width: 220px;
    max-height: 220px;
}


/*Correspond au bouton présent sur les pages connexion et inscription (bouton gris puis or)*/

.bouton {
    background-color: #B7B7B7;
    border-color: #B7B7B7;
    margin-bottom: 10px;
    margin: auto;
}

.bouton:hover {
    background-color: #C49A52;
    border-color: #B7B7B7;
}


/*Correspond au bouton présent sur la pageacceuil (bouton or)*/

.bouton1 {
    background-color: #C49A52;
    border-color: #B7B7B7;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
}

.bouton1:hover {
    background-color: #C49A52;
    border-color: #B7B7B7;
}

.bouton2 {
    background-color: #B7B7B7;
    border-color: #B7B7B7;
    width: 40%;
    height: 30px;
    display: block;
    margin: auto;
    line-height: 10px;
}

.bouton2:hover {
    background-color: #C49A52;
    border-color: #B7B7B7;
}


/*Correspond à la mise en page de la barre de recherche sur la pageacceuil*/

.encadrerfondgris {
    background-color: #D8D8D8;
    border-radius: 15px;
}

.encadrerfondgris1 {
  margin-top: 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #B7B7B7;
    background-color: #D8D8D8;
}


/*Correspond à la mise en page des 2 colonnes présentes sur la pageacceuil*/

.encadrercontouror {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #C49A52;
    padding: 4px;
    margin: 15px auto;
}



/*Correspond à la mise en page des 2 colonnes présentes sur la pageacceuil*/

.encadrercontouror1 {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #C49A52;
    height: 530px;
}

/* Correspond à la mise en page des inscriptions prise en compte */
.encadrercontouror2 {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #C49A52;
    padding: 4px;
    margin-top: 50px;
}

.encadrercontouror2 h1 {
    margin-bottom: 40px;
    font-size: 3em;
    text-align: center;
    font-family: cursive;
    color: #C49A52;
    font-weight: bold;
}

.form-control1 {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    bottom: 20px;
}

.form-control2 {
    width: 25%;
    float: right;
}

.post-content {
    background: none repeat scroll 0 0 #FFF;
    opacity: 0;
    transition: opacity .3s ease-out;
    bottom: 0;
    left: 0;
    position: absolute;
}

.post-content h3 {
    color: white;
}

.post-content:hover {
  opacity: 1;
}

.post-content:hover h3 {
  color: black;
}

.thumbnail {
    position: relative;
    height: 100px;
    overflow: hidden;
}


.suggestions {
  margin-top: 10px;
}

hr {
  width: 90%;
  border: 0;
  height: 1px;
  background: #000;
  opacity: 0.2;
}

.dropdown-menu {
  z-index: 100;
}

.plat-titre {
  text-transform: uppercase;
}

#formSuppr {
  margin-top: 100px;
}
